src/main/webapp/WEB-INF/xsd/shared/mobileAndLandline.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="mobileAndLandline">
		<xs:all>
			<xs:element name="mobile" maxOccurs="1" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="(0[45]{1}[0-9]{8})"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="mobileinput"  type="xs:string" maxOccurs="1" minOccurs="0" />
			<xs:element name="other" maxOccurs="1" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="(0[23785]{1}[0-9]{8})"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="otherinput"  type="xs:string" maxOccurs="1" minOccurs="0" />
		</xs:all>
	</xs:complexType>
</xs:schema>