WebContent/WEB-INF/xsd/life/contactDetails.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="../shared/components.xsd"/>
	<xs:complexType name="contactDetails">
		<xs:all>
			<xs:element name="email" type="email" maxOccurs="1" minOccurs="1" />
			<xs:element name="marketing" type="YN" maxOccurs="1" minOccurs="0" />
			<xs:element name="call" type="YN" maxOccurs="1" minOccurs="0" />
			<xs:element name="optIn" type="Y" maxOccurs="1" minOccurs="0" />
			<xs:element name="contactNumber" type="phone" maxOccurs="1" minOccurs="0" />
			<xs:element name="contactNumberinput" maxOccurs="1" minOccurs="0" />
			<xs:element name="competition" maxOccurs="1" minOccurs="0">
				<xs:complexType>
					<xs:all>
						<xs:element name="optin" maxOccurs="1" minOccurs="0" type="YN" />
						<xs:element name="previous" maxOccurs="1" minOccurs="0" />
					</xs:all>
				</xs:complexType>
			</xs:element>
		</xs:all>
	</xs:complexType>
</xs:schema>