WebContent/WEB-INF/xsd/life/lifeQuoteResults.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="contactDetails.xsd"/>
	<xs:include schemaLocation="../shared/components.xsd"/>
	<xs:include schemaLocation="../shared/address.xsd"/>
	<xs:element name="life">
		<xs:complexType>
			<xs:all>
				<xs:element name="primary">
					<xs:complexType>
						<xs:all>
							<xs:element name="insurance" >
								<xs:complexType>
									<xs:all>
										<xs:element name="frequency"  maxOccurs="1" minOccurs="0" />
										<xs:element name="tpd" maxOccurs="1" minOccurs="0" />
										<xs:element name="trauma" maxOccurs="1" minOccurs="0" />
										<xs:element name="traumaentry" maxOccurs="1" minOccurs="0" />
										<xs:element name="tpdentry" maxOccurs="1" minOccurs="0" />
										<xs:element name="type" maxOccurs="1" minOccurs="0" />
										<xs:element name="tpdanyown" maxOccurs="1" minOccurs="0" />
										<xs:element name="term" maxOccurs="1" minOccurs="0" />
										<xs:element name="termentry" maxOccurs="1" minOccurs="0" />
										<xs:element name="partner" type="YN" maxOccurs="1" minOccurs="0" />
										<xs:element name="samecover" type="YN" maxOccurs="1" minOccurs="0" />
									</xs:all>
								</xs:complexType>
							</xs:element>
							<xs:element name="firstName" type="nonEmptyString" maxOccurs="1" minOccurs="1" />
							<xs:element name="lastname" type="nonEmptyString" maxOccurs="1" minOccurs="1" />
							<xs:element name="gender" type="gender" maxOccurs="1" minOccurs="1" />
							<xs:element name="dob" type="date" maxOccurs="1" minOccurs="1" />
							<xs:element name="age" type="age18to99" maxOccurs="1" minOccurs="0" />
							<xs:element name="smoker" type="nonEmptyString" maxOccurs="1" minOccurs="1" />
							<xs:element name="postCode" type="postcode" maxOccurs="1" minOccurs="1" />
							<xs:element name="state" type="state" maxOccurs="1" minOccurs="0" />
							<xs:element name="occupation" type="fourtyCharHashCode"  maxOccurs="1" minOccurs="1" />
							<xs:element name="productid" maxOccurs="1" minOccurs="0" />
						</xs:all>
					</xs:complexType>
				</xs:element>
				<xs:element name="partner" maxOccurs="1" minOccurs="0" >
					<xs:complexType>
						<xs:all>
							<xs:element name="firstName" type="nonEmptyString" maxOccurs="1" minOccurs="1" />
							<xs:element name="lastname" type="nonEmptyString" maxOccurs="1" minOccurs="1" />
							<xs:element name="gender" type="gender" maxOccurs="1" minOccurs="1" />
							<xs:element name="dob" type="date" maxOccurs="1" minOccurs="1" />
							<xs:element name="smoker" maxOccurs="1" minOccurs="1" />
							<xs:element name="occupation" type="fourtyCharHashCode" maxOccurs="1" minOccurs="1" />
							<xs:element name="postCode" type="postcode" maxOccurs="1" minOccurs="0" />
							<xs:element name="age" type="age18to99" maxOccurs="1" minOccurs="1" />
							<xs:element name="productid" maxOccurs="1" minOccurs="0" />
							<xs:element name="insurance" type="noValidation" maxOccurs="1" minOccurs="0" />
						</xs:all>
					</xs:complexType>
				</xs:element>
				<xs:element name="contactDetails" type="contactDetails" />
				<!-- no need to validate -->
				<xs:element name="splitTestingJourney" maxOccurs="1" minOccurs="0" />
				<xs:element name="contactLeadSent" maxOccurs="1" minOccurs="0" />
				<xs:element name="transactionId" maxOccurs="1" minOccurs="0" />
				<xs:element name="operatorid" maxOccurs="1" minOccurs="0" />
				<xs:element name="client" maxOccurs="1" minOccurs="0" />
				<xs:element name="clientIpAddress" maxOccurs="1" minOccurs="0" />
				<xs:element name="clientUserAgent" maxOccurs="1" minOccurs="0" />
				<xs:element name="api" maxOccurs="1" minOccurs="0" />
				<xs:element name="refine" maxOccurs="1" minOccurs="0" type="noValidation" />
				<xs:element name="tracking" maxOccurs="1" minOccurs="0" />
				<xs:element name="privacyoptin" maxOccurs="1" minOccurs="0" />
			</xs:all>
		</xs:complexType>
	</xs:element>
</xs:schema>