WebContent/WEB-INF/xsd/life/productSelect.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="contactDetails.xsd"/>
	<xs:include schemaLocation="../shared/components.xsd"/>
	<xs:include schemaLocation="../shared/address.xsd"/>
	<xs:element name="productselectrequest">
	 	<xs:complexType>
	 		<xs:all>
				<xs:element name="request">
			 		<xs:complexType>
					      <xs:sequence>
					        <xs:element name="api_reference" maxOccurs="1" minOccurs="0" />
					        <xs:element name="action" maxOccurs="1" minOccurs="0" />
					        <xs:element type="fourtyCharHashCode"  name="client_product_id" maxOccurs="1" minOccurs="0" />
					        <xs:element type="fourtyCharHashCode"  name="partner_product_id" maxOccurs="1" minOccurs="0" />
					      </xs:sequence>
					 </xs:complexType>
				 </xs:element>
			 </xs:all>
		 </xs:complexType>	 
	</xs:element>
</xs:schema>