WebContent/WEB-INF/xsd/life/productDetailsRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="contactDetails.xsd"/>
	<xs:include schemaLocation="../shared/components.xsd"/>
	<xs:include schemaLocation="../shared/address.xsd"/>
	<xs:element name="productdetailsrequest">
	 	<xs:complexType>
	 		<xs:all>
		 		<xs:element name="request">
				 	<xs:complexType>
					<xs:sequence>
						<xs:element name="products">
					 		<xs:complexType>
							      <xs:sequence>
							        <xs:element name="product"  type="fourtyCharHashCode" maxOccurs="2" minOccurs="0" />
							      </xs:sequence>
							 </xs:complexType>
						 </xs:element>
					 </xs:sequence>
				</xs:complexType>
				</xs:element>
			 </xs:all>
		 </xs:complexType>	 
	</xs:element>
</xs:schema>