WebContent/WEB-INF/xsd/utilities/resultsDisplayed.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="../shared/components.xsd"/>
	<xs:complexType name="resultsDisplayed">
		<xs:all>
				<xs:element name="resultsFor" type="xs:string" maxOccurs="1" minOccurs="0" />
				<xs:element name="email" type="email" maxOccurs="1" minOccurs="0" />
		</xs:all>
	</xs:complexType>
</xs:schema>