WebContent/WEB-INF/xsd/health/WFD/previousfund.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="coverDetails" >
		<xs:all>
			<xs:element name="fundName" maxOccurs="1" minOccurs="0" />
			<xs:element name="memberID" maxOccurs="1" minOccurs="0" />
			<xs:element name="authority" maxOccurs="1" minOccurs="0" />
		</xs:all>
	</xs:complexType>
	<xs:complexType name="previousfund" >
			<xs:all>
				<xs:element type="xs:string" name="confirmCover" maxOccurs="1" minOccurs="0" />
				<xs:element name="primary" type="coverDetails" maxOccurs="1" minOccurs="0" />
				<xs:element name="partner" type="coverDetails" maxOccurs="1" minOccurs="0" />
			</xs:all>
	</xs:complexType>
</xs:schema>