src/main/webapp/WEB-INF/xsd/utilities/householdDetails.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="../shared/components.xsd"/>
	<xs:complexType name="householdDetails">
		<xs:all>
				<xs:element name="location" type="xs:string" maxOccurs="1" minOccurs="1" />
				<xs:element name="postcode" type="postcode" maxOccurs="1" minOccurs="0" />
				<xs:element name="state" type="state" maxOccurs="1" minOccurs="1" />
				<xs:element name="suburb" type="xs:string" maxOccurs="1" minOccurs="0" />
				<xs:element name="movingIn" type="YN" maxOccurs="1" minOccurs="1" />
				<xs:element name="whatToCompare" maxOccurs="1" minOccurs="1" >
					<xs:simpleType >
						<xs:restriction base="xs:string">
							<xs:enumeration value="E" />
							<xs:enumeration value="G" />
							<xs:enumeration value="EG" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="howToEstimate" type="xs:string" maxOccurs="1" minOccurs="1" />
		</xs:all>
	</xs:complexType>
</xs:schema>