src/main/webapp/WEB-INF/xsd/car/carQuoteResults.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="../shared/components.xsd"/>
	<xs:include schemaLocation="../shared/address.xsd"/>
	<xs:element name="quote">
		<xs:complexType>
			<xs:all>
				<xs:element name="vehicle" maxOccurs="1" minOccurs="1" >
					<xs:complexType>
						<xs:all>
							<xs:element name="make" type="nonEmptyString" maxOccurs="1" minOccurs="1" />
							<xs:element name="makeDes" type="xs:string" maxOccurs="1" minOccurs="0" />
							<xs:element name="model" type="nonEmptyString" maxOccurs="1" minOccurs="1" />
							<xs:element name="modelDes" type="xs:string" maxOccurs="1" minOccurs="0" />
							<xs:element name="year" type="year" maxOccurs="1" minOccurs="1" />
							<xs:element name="body" type="nonEmptyString" maxOccurs="1" minOccurs="1" />
							<xs:element name="trans" type="nonEmptyString" maxOccurs="1" minOccurs="1" />
							<xs:element name="fuel" type="nonEmptyString" maxOccurs="1" minOccurs="1" />
							<xs:element name="redbookCode" type="nonEmptyString" maxOccurs="1" minOccurs="1" />
							<xs:element name="factoryOptions" type="YN" maxOccurs="1" minOccurs="0" />
							<xs:element name="accessories" type="YN" maxOccurs="1" minOccurs="0" />
							<xs:element name="modifications" type="YN" maxOccurs="1" minOccurs="1" />
							<xs:element name="damage" type="YN" maxOccurs="1" minOccurs="1" />
							<xs:element name="use" type="xs:integer" maxOccurs="1" minOccurs="1" />
							<xs:element name="finance" type="nonEmptyString" maxOccurs="1" minOccurs="1" />
							<xs:element name="annualKilometres" type="xs:integer" maxOccurs="1" minOccurs="1" />
							<xs:element name="parking" maxOccurs="1" minOccurs="1" />
							<xs:element name="marketValue" maxOccurs="1" minOccurs="0" />
							<xs:element name="variant" type="xs:string" maxOccurs="1" minOccurs="0" />
							<xs:element name="securityOption" type="xs:string" maxOccurs="1" minOccurs="0" />
						</xs:all>
					</xs:complexType>
				</xs:element>
				<xs:element name="opts" type="noValidation" maxOccurs="1" minOccurs="0" />
				<xs:element name="accs" type="noValidation" maxOccurs="1" minOccurs="0" />
				<xs:element name="drivers" maxOccurs="1" minOccurs="1" >
					<xs:complexType>
						<xs:all>
							<xs:element name="young" maxOccurs="1" minOccurs="1" >
								<xs:complexType>
										<xs:all>
											<xs:element name="exists" type="YN" maxOccurs="1" minOccurs="1" />
											<xs:element name="licenceAge" type="age" maxOccurs="1" minOccurs="0" />
											<xs:element name="dob" type="date" maxOccurs="1" minOccurs="0" />
											<xs:element name="gender" type="gender" maxOccurs="1" minOccurs="0" />
											<xs:element name="annualKilometres" maxOccurs="1" minOccurs="0" />
										</xs:all>
									</xs:complexType>
							</xs:element>
							<xs:element name="regular" maxOccurs="1" minOccurs="1" >
								<xs:complexType>
									<xs:all>
										<xs:element name="gender" type="gender" maxOccurs="1" minOccurs="1" />
										<xs:element name="ownsAnotherCar" type="YN" maxOccurs="1" minOccurs="1" />
										<xs:element name="licenceAge" type="age" maxOccurs="1" minOccurs="1" />
										<xs:element name="employmentStatus" maxOccurs="1" minOccurs="0" />
										<xs:element name="ncd" type="xs:integer" maxOccurs="1" minOccurs="1" />
										<xs:element name="firstname" type="xs:string" maxOccurs="1" minOccurs="0" />
										<xs:element name="surname" type="xs:string" maxOccurs="1" minOccurs="0" />
										<xs:element name="dob" type="date" maxOccurs="1" minOccurs="1" />
										<xs:element name="claims" type="xs:string" maxOccurs="1" minOccurs="1" />
									</xs:all>
								</xs:complexType>
							</xs:element>
						</xs:all>
					</xs:complexType>
				</xs:element>
				<xs:element name="excess" maxOccurs="1" minOccurs="0" />
				<xs:element name="baseExcess" maxOccurs="1" minOccurs="0" />
				<xs:element name="transactionId" type="xs:integer" maxOccurs="1" minOccurs="1" />
				<xs:element name="ccad" maxOccurs="1" minOccurs="0" />
				<xs:element name="existingInsurer" maxOccurs="1" minOccurs="1" >
					<xs:complexType>
						<xs:all>
							<xs:element name="premium">
								<xs:complexType>
									<xs:all>
										<xs:element name="amountentry" maxOccurs="1" minOccurs="0" />
										<xs:element name="frequency" maxOccurs="1" minOccurs="0" >
											<xs:simpleType >
												<xs:restriction base="xs:string">
													<xs:enumeration value="A"/>
													<xs:enumeration value="M"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="amount" type="xs:integer" maxOccurs="1" minOccurs="0" />
									</xs:all>
								</xs:complexType>
							</xs:element>
							<xs:element name="provider" type="xs:integer" maxOccurs="1" minOccurs="0" />
							<xs:element name="hasCurrentInsurer" type="YN" maxOccurs="1" minOccurs="0" />
						</xs:all>
					</xs:complexType>
				</xs:element>
				<xs:element name="options" maxOccurs="1" minOccurs="1" >
					<xs:complexType>
						<xs:all>
							<xs:element name="commencementDate" type="date" maxOccurs="1" minOccurs="1" />
							<xs:element name="driverOption" type="xs:string" maxOccurs="1" minOccurs="1" />
							<xs:element name="coverType" type="xs:string" maxOccurs="1" minOccurs="0" />
						</xs:all>
					</xs:complexType>
				</xs:element>
				<xs:element name="riskAddress" type="address" maxOccurs="1" minOccurs="1" />
				<xs:element name="contact" maxOccurs="1" minOccurs="1" >
					<xs:complexType>
						<xs:all>
							<xs:element name="marketing" type="YN" maxOccurs="1" minOccurs="1" />
							<xs:element name="email" type="email" maxOccurs="1" minOccurs="0" />
							<xs:element name="phone" type="phone" maxOccurs="1" minOccurs="0" />
							<xs:element name="phoneinput" type="xs:string" maxOccurs="1" minOccurs="0" />
							<xs:element name="oktocall" type="YN" maxOccurs="1" minOccurs="1" />
						</xs:all>
					</xs:complexType>
				</xs:element>
				<xs:element name="paymentType" maxOccurs="1" minOccurs="0" />
				<xs:element name="terms" type="YN" maxOccurs="1" minOccurs="1" />
				<xs:element name="fsg" type="YN" maxOccurs="1" minOccurs="1" />
				<xs:element name="tracking" maxOccurs="1" minOccurs="0" />
			</xs:all>
		</xs:complexType>
	</xs:element>
</xs:schema>