src/main/webapp/WEB-INF/xsd/fuel/fuelQuoteResults.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="../shared/components.xsd"/>
	<xs:element name="fuel">
		<xs:complexType>
			<xs:all>
				<xs:element name="type" maxOccurs="1" minOccurs="1" >
					<xs:complexType>
						<xs:all>
							<xs:element name="petrol" maxOccurs="1" minOccurs="0" type="noValidation" />
							<xs:element name="diesel" maxOccurs="1" minOccurs="0" type="noValidation" />
							<xs:element name="lpg" maxOccurs="1" minOccurs="0" type="noValidation" />
						</xs:all>
					</xs:complexType>
				</xs:element>
				<xs:element name="state" type="state" maxOccurs="1" minOccurs="0" />
				<xs:element name="location" type="xs:string" maxOccurs="1" minOccurs="0" />
				<xs:element name="postcode" type="postcode" maxOccurs="1" minOccurs="0" />
				<xs:element name="suburb" type="xs:string" maxOccurs="1" minOccurs="0" />
				<!-- No need to validate -->
				<xs:element name="hidden" minOccurs="0" />
				<xs:element name="transactionId" minOccurs="0" />
				<xs:element name="clientIpAddress" minOccurs="0" />
				<xs:element name="clientUserAgent" minOccurs="0" />
				<xs:element name="tracking" minOccurs="0" type="noValidation" />
			</xs:all>
		</xs:complexType>
	</xs:element>
</xs:schema>