src/main/webapp/WEB-INF/xsd/roadside/roadsidePriceResult.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="../shared/components.xsd"/>
	<xs:element name="roadside">
		<xs:complexType>
			<xs:all>
			<xs:element name="vehicle">
			<xs:complexType>
				<xs:all>
				<xs:element name="make" maxOccurs="1" minOccurs="1" >
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="([A-Z]){1,5}"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element type="xs:string" name="makeDes" maxOccurs="1" minOccurs="0" />
				<xs:element name="vehicle">
				<xs:complexType>
					<xs:all>
						<xs:element name="odometer" type="YN" />
						<xs:element name="commercial" maxOccurs="1" minOccurs="1" type="YN" />
					</xs:all>
				</xs:complexType>
				</xs:element>
					<xs:element name="year" type="year" maxOccurs="1" minOccurs="1" />
				</xs:all>
			</xs:complexType>
			</xs:element>
			<xs:element name="riskAddress">
				<xs:complexType>
					<xs:all>
						<xs:element name="state" type="state" maxOccurs="1" minOccurs="1" />
					</xs:all>
				</xs:complexType>
			</xs:element>
			<xs:element name="clientUserAgent" maxOccurs="1" minOccurs="0" />
			<xs:element name="clientIpAddress" maxOccurs="1" minOccurs="0" />
			<xs:element name="renderingMode" maxOccurs="1" minOccurs="0" />
			<xs:element name="lastFieldTouch" maxOccurs="1" minOccurs="0" />
			<xs:element name="journey" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:all>
						<xs:element name="stage" type="xs:string" maxOccurs="1" minOccurs="0" />
					</xs:all>
				</xs:complexType>
			</xs:element>
			<xs:element name="transactionId" maxOccurs="1" minOccurs="0" />
			<xs:element name="tracking" maxOccurs="1" minOccurs="0" />
			</xs:all>
		</xs:complexType>
	</xs:element>
</xs:schema>