WebContent/WEB-INF/xsd/health/healthQuoteResult.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="healthBenefits.xsd" />
	<xs:include schemaLocation="healthSituation.xsd" />
	<xs:include schemaLocation="healthCover.xsd" />
	<xs:include schemaLocation="healthContactDetails.xsd" />
	<xs:element name="health">
		<xs:complexType>
			<xs:all>
				<xs:element name="situation" type="situation" />
				<xs:element name="benefits" type="benefits" minOccurs="0" />
				<xs:element name="healthCover" type="healthCover" />
				<xs:element name="contactDetails" type="contactDetails" />

				<!-- No need to validate -->
				<xs:element name="callmeback" type="noValidation" minOccurs="0" />
				<xs:element name="fundData" type="noValidation" minOccurs="0" />
				<xs:element name="excess" minOccurs="0" />
				<xs:element name="onResultsPage" minOccurs="0" />
				<xs:element name="rebate" minOccurs="0" />
				<xs:element name="showAll" minOccurs="0" />
				<xs:element name="altContactFormRendered" minOccurs="0" />
				<xs:element name="incrementTransactionId" minOccurs="0" />
				<xs:element name="retrieve" minOccurs="0" />
				<xs:element name="loading" minOccurs="0" />
				<xs:element name="show-price" minOccurs="0" />
				<xs:element name="contactNumberSplitTest" minOccurs="0" />
				<xs:element name="transactionId" minOccurs="0" />
				<xs:element name="clientIpAddress" minOccurs="0" />
				<xs:element name="clientUserAgent" minOccurs="0" />
				<xs:element name="tracking" maxOccurs="1" minOccurs="0" />
				<!-- No need to validate as used at application stage -->
				<xs:element name="application" maxOccurs="1" minOccurs="0" type="noValidation" />
				<xs:element name="previousfund" maxOccurs="1" minOccurs="0" type="noValidation" />
				<xs:element name="payment" maxOccurs="1" minOccurs="0" type="noValidation" />
			</xs:all>
		</xs:complexType>
	</xs:element>
</xs:schema>