WebContent/WEB-INF/xsd/health/payment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="payment">
		<xs:all>
			<xs:element name="details" maxOccurs="1" minOccurs="1" >
				<xs:complexType>
					<xs:all>
						<xs:element name="start" type="xs:string" maxOccurs="1" minOccurs="1" />
						<xs:element name="type" type="xs:string" maxOccurs="1" minOccurs="1" />
						<xs:element name="frequency" type="xs:string" maxOccurs="1" minOccurs="1" />
						<xs:element name="claims" type="xs:string" maxOccurs="1" minOccurs="0" />
					</xs:all>
				</xs:complexType>
			</xs:element>
			<xs:element name="gateway-registered" type="xs:string" maxOccurs="1" minOccurs="0" />
			<xs:element name="gateway" maxOccurs="1" minOccurs="0" >
				<xs:complexType>
					<xs:all>
						<xs:element name="number" type="xs:string" maxOccurs="1" minOccurs="1" />
						<xs:element name="type" type="xs:string" maxOccurs="1" minOccurs="1" />
						<xs:element name="expiry" type="xs:string" maxOccurs="1" minOccurs="1" />
						<xs:element name="name" type="xs:string" maxOccurs="1" minOccurs="1" />
					</xs:all>
				</xs:complexType>
			</xs:element>
			<xs:element name="credit" maxOccurs="1" minOccurs="0" >
					<xs:complexType>
						<xs:all>
							<xs:element name="type" type="xs:string" maxOccurs="1" minOccurs="0" />
							<xs:element name="name" type="xs:string" maxOccurs="1" minOccurs="0" />
							<xs:element name="number" type="xs:string" maxOccurs="1" minOccurs="0" />
							<xs:element name="expiry" maxOccurs="1" minOccurs="0" >
								<xs:complexType>
									<xs:all>
										<xs:element name="cardExpiryMonth" type="xs:string" maxOccurs="1" minOccurs="1" />
										<xs:element name="cardExpiryYear" type="xs:string"  maxOccurs="1" minOccurs="1" />
									</xs:all>
								</xs:complexType>
							</xs:element>
							<xs:element name="ccv" type="xs:string"  maxOccurs="1" minOccurs="0" />
							<xs:element name="day" type="xs:string" maxOccurs="1" minOccurs="0" />
							<xs:element name="policyDay" type="xs:string" maxOccurs="1" minOccurs="0" />
						</xs:all>
					</xs:complexType>
				</xs:element>
				<xs:element name="bank" maxOccurs="1" minOccurs="0">
					<xs:complexType>
						<xs:all>
							<xs:element name="name" type="xs:string"  maxOccurs="1" minOccurs="0" />
							<xs:element name="account" type="xs:string"  maxOccurs="1" minOccurs="0" />
							<xs:element name="bsb" type="xs:string"  maxOccurs="1" minOccurs="0" />
							<xs:element name="bsbinput" type="xs:string" maxOccurs="1" minOccurs="0" />
							<xs:element name="number" type="xs:string" maxOccurs="1" minOccurs="0" />
							<xs:element name="day" type="xs:string" maxOccurs="1" minOccurs="0" />
							<xs:element name="policyDay" type="xs:string" maxOccurs="1" minOccurs="0" />
							<xs:element name="claims" type="xs:string" maxOccurs="1" minOccurs="0" />
							<xs:element name="claim" maxOccurs="1" minOccurs="0" >
								<xs:complexType>
									<xs:all>
										<xs:element name="name" type="xs:string"  maxOccurs="1" minOccurs="0" />
										<xs:element name="account" type="xs:string"  maxOccurs="1" minOccurs="0" />
										<xs:element name="bsb" type="xs:string"  maxOccurs="1" minOccurs="0" />
										<xs:element name="bsbinput" type="xs:string"  maxOccurs="1" minOccurs="0" />
										<xs:element name="number" type="xs:string" maxOccurs="1" minOccurs="0" />
									</xs:all>
								</xs:complexType>
							</xs:element>
						</xs:all>
					</xs:complexType>
			</xs:element>
			<xs:element name="medicare" maxOccurs="1" minOccurs="0" >
				<xs:complexType>
					<xs:all>
						<xs:element name="cover" type="xs:string" maxOccurs="1" minOccurs="0" />
						<xs:element name="number" type="xs:string" maxOccurs="1" minOccurs="0" />
						<xs:element name="firstName" type="xs:string" maxOccurs="1" minOccurs="1" />
						<xs:element name="middleInitial" type="xs:string" maxOccurs="1" minOccurs="0" />
						<xs:element name="surname" type="xs:string" maxOccurs="1" minOccurs="1" />
						<xs:element name="position" type="xs:string"  maxOccurs="1" minOccurs="0" />
						<xs:element name="expiry" maxOccurs="1" minOccurs="0" >
							<xs:complexType>
								<xs:all>
									<xs:element name="cardExpiryMonth" type="xs:int" maxOccurs="1" minOccurs="1" />
									<xs:element name="cardExpiryYear" type="xs:int" maxOccurs="1" minOccurs="1" />
								</xs:all>
							</xs:complexType>
						</xs:element>
					</xs:all>
				</xs:complexType>
			</xs:element>
		</xs:all>
	</xs:complexType>
</xs:schema>